<!DOCTYPE html>

    <html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>

        <body>
            <div class="main-content">
            {{>header}}
            <p>This site is created by The one and only CHEST!</p>
            <img class="portrait" src="img/test.jpg">
            </div>
            {{>footer}}
            </body>

            </html>